body{
    background-image: url(../img/dark-honeycomb.png)
}


#port{
    color: white;
}

#about{
    color: white;
}

#pic{
    height: 150px;
    width: 145px;
    float: left;
    margin-right: 15px;
}

.code{
    color: black;
}

#me{
    color: white;
}

.pImages{
    height: 270px;
    width: 350px;
}



#about{
    border-bottom: 2px solid #fed136;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/* This is only to show I know how to do it. 
I like what it looks like on mobile right now. */
@media only screen and (max-width: 640px){
    footer{
        background-color: #fed136;
    }
}